include ./_svg-mixins

.upper.upper--about-us
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | About Us

      p.upper__page-text
        | There’s always room for improvement. Why not start with your finances?

    +upper_svg_we
