include ./_svg-mixins

.side.side--affiliate
  .side__blocks
    .side__block
      h3.side__block-title
        | Here’s what we offer

      .side__text-with-icon-container
        p.side__text-with-icon
          +no_fee_svg
          | Free to Join

        p.side__text-with-icon
          +real_time_svg
          | Real-Time Reporting

        p.side__text-with-icon
          +puzzle_svg
          | Co-Branded Landing Pages & Marketing Materials

        p.side__text-with-icon
          +palm_svg
          | Earn Generous Commissions

        p.side__text-with-icon
          +money_svg
          | Monthly Commissions

        p.side__text-with-icon
          +specialist_svg
          | Dedicated Account Specialist

    .side__block
      h3.side__block-title.side__block-title--close
        | Need Help?

      p.side__text.side__text--thin
        | We are ready to help you with any request at 
        a.side__text-link(href='mailto:support@enhancify.com')
          | support@enhancify.com
