include ./_svg-mixins

.upper.upper--affiliate
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Affiliate & Strategic Partnership

      p.upper__page-text
        | Looking to grow your business? Partnerships fuel profits, so let’s build our businesses together. Join our Affiliate Program and let’s change the way consumers compare, find and apply for financing. Complete the form below and let us know what you think. We’ll be in touch!

    +upper_affiliate_svg
