.analytics
  .analytics__wrapper
    h2.section__title
      | Consumer Credit Market Analytics

    .analytics__content
      ul.analytics__items
        li.analytics__item.analytics__item--active
          .analytics__item-content
            button.analytics__item-title(type="button")
              span.analytics__item-title-text
                | The numbers don’t lie

            p.analytics__item-text
              | According to 
              a(href='https://www.transunion.com/blog/consumer-credit-origination-balance-and-delinquency-trends-Q2-2017')
                | TransUnion
              | , personal loan balances as of Q2 2017 were at $107 billion — an increase of 10.8% from the same quarter in 2016.

          picture
            source(media='(max-width: 767px)', srcset="images/graph_1.png, images/graph_1@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph_1_768.png, images/graph_1_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph_1_1024.png, images/graph_1_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph_1.png', srcset='images/graph_1@2x.png 2x', draggable="false", alt="Graph 1")

        li.analytics__item
          .analytics__item-content
            button.analytics__item-title(type="button")
              span.analytics__item-title-text
                | Change In Serious Delinquency Rates

            p.analytics__item-text
              | During the first quarter of 2018, Americans paid back $40.3 billion in revolving debt, according to new analysis from the U.S. Census Bureau. Further, the number of delinquencies, or debts overdue by 30 days or more, dropped in several categories with personal loan delinquencies falling from 1.90% to 1.57% as of Q4 2017 as tracked by the 
              a(href="http://www.accountsrecovery.net/2018/04/04/delinquency-rates-fall-in-9-of-11-consumer-loan-categories-aba/")
                | American Bankers Association.

          picture
            source(media='(max-width: 767px)', srcset="images/graph_2.png, images/graph_2@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph_2_768.png, images/graph_2_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph_2_1024.png, images/graph_2_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph_2.png', srcset='images/graph_2@2x.png 2x', draggable="false", alt="Graph 2")

        li.analytics__item
          .analytics__item-content
            button.analytics__item-title(type="button")
              span.analytics__item-title-text
                | Average Personal Loan Balance per Borrower

            p.analytics__item-text
              | From Q4 2016 to Q4 2017, the average consumer loan balance has incresed by 5.6%. According to 
              a(href="https://www.transunion.com/blog/consumer-credit-balance-and-delinquency-rates-2018-predictions")
                | TransUnion's
              |  latest forecast, the average personal loan balance is anticipated to increase to approximately $8,500 with personal loans originations geared more toward prime consumers than subprime consumers.

          picture
            source(media='(max-width: 767px)', srcset="images/graph_3.png, images/graph_3@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph_3_768.png, images/graph_3_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph_3_1024.png, images/graph_3_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph_3.png', srcset='images/graph_3@2x.png 2x', draggable="false", alt="Graph 3")

        li.analytics__item
          .analytics__item-content
            button.analytics__item-title(type="button")
              span.analytics__item-title-text
                | Unsecured Loan Originations

            p.analytics__item-text
              | Although there were challenges in the personal loan industry in 2016, personal loan volume has rebounded nicely in 2017 according to TransUnion's latest forecast. This trend is expected to continue with FinTechs continuing to gain market share along wtih banks and credit unions following suit.

          picture
            source(media='(max-width: 767px)', srcset="images/graph_4.png, images/graph_4@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph_4_768.png, images/graph_4_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph_4_1024.png, images/graph_4_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph_4.png', srcset='images/graph_4@2x.png 2x', draggable="false", alt="Graph 4")
