.analytics
  .analytics__wrapper
    h2.section__title
      | Consumer Credit Market Analytics

    .analytics__content
      ul.analytics__items
        li.analytics__item.analytics__item--active
          .analytics__item-content
            a.analytics__item-title
              span.analytics__item-title-text
                | The numbers don’t lie

            p.analytics__item-text
              | According to 
              a(href='') TransUnion
              | , consumers are paying their debts in a timely fashion.

          picture
            source(media='(max-width: 767px)', srcset="images/graph1_320.png, images/graph1_320@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph1_768.png, images/graph1_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph1_1024.png, images/graph1_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph1.png', srcset='images/graph1@2x.png 2x', draggable="false", alt="Garph")

        li.analytics__item
          .analytics__item-content
            a.analytics__item-title
              span.analytics__item-title-text
                | Change In Serious Delinquency Rates (BPS)

            p.analytics__item-text
              | According to 
              a(href='') TransUnion
              | , consumers are paying their debts in a timely fashion.

          picture
            source(media='(max-width: 767px)', srcset="images/pic_main_320.png, images/pic_main_320@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/pic_main_320.png, images/pic_main_320@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/pic_main_320.png, images/pic_main_320@2x.png 2x")
            img.analytics__item-img(src='images/pic_main_320.png', srcset='images/pic_main_320@2x.png 2x', draggable="false", alt="Garph")

        li.analytics__item
          .analytics__item-content
            a.analytics__item-title
              span.analytics__item-title-text
                | Change In Average Balance Per Consumer (%)

            p.analytics__item-text
              | According to 
              a(href='') TransUnion
              | , consumers are paying their debts in a timely fashion.

          picture
            source(media='(max-width: 767px)', srcset="images/graph1_320.png, images/graph1_320@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph1_768.png, images/graph1_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph1_1024.png, images/graph1_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph1.png', srcset='images/graph1@2x.png 2x', draggable="false", alt="Garph")

        li.analytics__item
          .analytics__item-content
            a.analytics__item-title
              span.analytics__item-title-text
                | Change In Subprime Borrowers With A Balance (%)

            p.analytics__item-text
              | According to 
              a(href='') TransUnion
              | , consumers are paying their debts in a timely fashion.

          picture
            source(media='(max-width: 767px)', srcset="images/graph1_320.png, images/graph1_320@2x.png 2x")
            source(media='(max-width: 1023px)', srcset="images/graph1_768.png, images/graph1_768@2x.png 2x")
            source(media='(max-width: 1439px)', srcset="images/graph1_1024.png, images/graph1_1024@2x.png 2x")
            img.analytics__item-img(src='images/graph1.png', srcset='images/graph1@2x.png 2x', draggable="false", alt="Garph")
