.best-option
  .best-option__wrapper
    .best-option__text-content
      h2.section__title.section__title--left-align
        | Find your best option in seconds!

      p.best-option__text
        | Get an unsecured loan, so you can get the money you need – Fast.

    .best-option__user-wrapper
      a.best-option__btn(href="")
        +ic_lock_svg
        | Check Your Loan Options

      p.best-option__btn-wrapper-text
        span.reg *
        | Won’t impact your credit score
