include ./_svg-mixins

form.form.form--contact(action='', method='POST')
  fieldset.form__fieldset.form__fieldset--contact
    h2.form__fieldset-title.form__fieldset-title--no-icon
      | How may we assist you?

    .form__fieldset-wrapper
      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--half
        label.form__fieldset-label(for='first-name')
          | First Name

        input.form__fieldset-input(type='text', name='first-name', id='first-name' placeholder='Enter your first name')
        .form__fieldset-input-warning
          | Enter first name

      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--half
        label.form__fieldset-label(for='last-name')
          | Last Name

        input.form__fieldset-input(type='text', id='last-name' name='last-name', placeholder='Enter your last name')
        .form__fieldset-input-warning
          | Enter last name

      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--half
        label.form__fieldset-label(for='email')
          | Email Address

        input.form__fieldset-input(type='email', id='email' name='email', placeholder='example@mail.com')
        .form__fieldset-input-warning
          | Invalid email

      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--half
        label.form__fieldset-label(for='subject')
          | Subject

        select.form__fieldset-select(name='subject')
          option(value='1' selected) Trouble logging into your account
          option(value='2') Option 2
          option(value='3') Option 3

      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--full
        label.form__fieldset-label(for='description')
          | Tell us why your reaching out to us

        textarea.form__fieldset-input.form__fieldset-input--textarea(type='textarea', id='description' name='description', placeholder='Short description of your request')
        .form__fieldset-input-warning
          | Please Enter Description

      .form__fieldset-input-wrapper.form__fieldset-input-wrapper--full.form__fieldset-input-wrapper--checkbox
        label.form__fieldset-label.form__fieldset-label--checkbox(for='agreement')
          | I certify that I am 18 years or older and authorize Enhancify to use of all or part of my comments or feedback as necessary.

          input.form__fieldset-checkbox(type='checkbox', id='agreement')
          span.form__fieldset-checkmark

      button.form__submit-btn
        | Submit a Request
