include ./_svg-mixins

.upper.upper--contact
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Contact Us

      p.upper__page-text
        | Fill out the form below so we can get you the answers you need. Just provide us with a few details and someone from our support team will get back to you. Be sure to check your email over the next 48-72 hours.

    +upper_headphones_svg
