include ./_svg-mixins

.side.side--contact
  .side__blocks
    .side__block.side__block--first
      h3.side__block-title
        | Why you can trust Enhancify?

      .side__text-with-icon-container
        p.side__text-with-icon
          +no_fee_svg
          | We are 100% Free Service. No Fees!

        p.side__text-with-icon
          +apply_online_svg
          | Apply Online and Get Results in Minutes.

        p.side__text-with-icon
          +large_lock_svg
          | We Take your Pirvacy & Security Seriously.

    .side__block.side__block--custom
      h3.side__block-title
        | Refer & Earn 

      p.side__block-text
        | No one can spread the word about Enhancify better than our customers!

      a.side__block-btn(href='')
        | Learn More
        +arrow_right_white
