include ./_svg-mixins

.side
  .side__blocks
    .side__block
      h3.side__block-title
        | Why Enhancify?

      p.side__text-with-icon
        +no_fee_svg
        | We are 100% Free Service. No Fees!

      p.side__text-with-icon
        +apply_online_svg
        | Apply Online and Get Results in Minutes.

      p.side__text-with-icon
        +large_lock_svg
        | We Take your Pirvacy & Security Seriously.

    .side__block
      h3.side__block-title
        | Need Help?

      p.side__text.side__text--thin
        | We are ready to help you with any request at 
        a.side__text-link(href='mailto:support@enhancify.com')
          | support@enhancify.com

    .side__block
      h3.side__block-title
        | You’re Just a Click Away

      p.side__text-with-check-ic
        span.semibold
          | Loan Amounts up to $100,000
          span.reg *.
        | Rates as low as 3.09%*.

      p.side__text-with-check-ic
        span.semibold
          | Complete our form in 2 minutes 
        | or less and see your personalized options immediately.

      p.side__text-with-check-ic
        span.semibold
          | Not just for the things you need, 
        | but also for the things you may want!