include ./_svg-mixins

footer.footer
  .footer__wrapper
    .footer__main
      .footer__columns-wrapper
        h3.footer__columns-title
          | Enhancify

        a.footer__columns-list-link.footer__columns-list-link--tel(href="tel: 1-800-900-9664")
          +ic_phone_svg
          | 1-800-900-9664

        .footer__columns
          ul.footer__columns-list.footer__columns-list--first
            li.footer__columns-list-item.footer__columns-list-item--title
              | Company Info

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Home

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | About Us

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | How It Works

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | FAQ

          ul.footer__columns-list.footer__columns-list--second
            li.footer__columns-list-item.footer__columns-list-item--title
              | Legal

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Privacy Policy

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Terms of Use

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Disclosures

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Communication Consent

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Unsubscribe

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Do Not Call

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | SMS, Calls & Messages T&C

          ul.footer__columns-list.footer__columns-list--third
            li.footer__columns-list-item.footer__columns-list-item--title
              | Contact US

            li.footer__columns-list-item
              a.footer__columns-list-link(href="")
                | Contact

      .footer__links
        ul.footer__links-socials
          li.footer__links-socials-item
            a.footer__links-socials-item-link.footer__links-socials-item-link--fb(href="")
              +fb_svg

          li.footer__links-socials-item
            a.footer__links-socials-item-link.footer__links-socials-item-link--go(href="")
              +go_svg

          li.footer__links-socials-item
            a.footer__links-socials-item-link.footer__links-socials-item-link--in(href="")
              +in_svg

          li.footer__links-socials-item
            a.footer__links-socials-item-link.footer__links-socials-item-link--yo(href="")
              +yo_svg

      ul.footer__links-partners
        img.footer__links-partners-partner.footer__links-partners-partner--norton(src="images/logo/norton_logo.png" srcset="images/logo/norton_logo@2x.png 2x", alt="norton logo")
        img.footer__links-partners-partner.footer__links-partners-partner--mcafee(src="images/logo/mcafee_logo.png" srcset="images/logo/mcafee_logo@2x.png 2x", alt="mcafee logo")
        img.footer__links-partners-partner.footer__links-partners-partner--acredited(src="images/logo/accredited_business_logo.png" srcset="images/logo/accredited_business_logo@2x.png 2x", alt="accredited business logo")


    .footer__information
      p.footer__information-adress
        | Enhancify.com. 1-800-900-9664, 152 Madison Ave, Suite 804, New York, New York 10016
        br
        | © Copyright 2018 Enhancify, Inc. All Rights Reserved.

      p.footer__information-text
        | “THE OPERATOR OF THIS WEBSITE IS NOT A LENDER, does not make credit decisions, and does not charge Consumers any fees. Enhancify does not constitute an offer or solicitation to lend. This Enhancify provides a service wherein we submit the information you provide to one or more lending providers and attempt to search for a lending partner to meet your needs. This service is not available in all states, and the states serviced by this Enhancify may change from time to time and without notice. Providing your information on this Enhancify does not guarantee that we will be able to locate a lending partner to meet your needs or that you will be approved for a loan. The lending partner may perform a credit check or otherwise verify the information you provide. Not all lending providers offer loans up to the advertised amount and not all lending providers can provide you with the loan amount you requested. Loan amounts are determined by the lending partner based on individual creditworthiness. All financial terms of the loan, including annual percentage rate ("APR"), fees, charges, and repayment period will be provided to you by the lending partner and may vary by lending partner, state, and your individual creditworthiness. You are NOT required to accept the terms of the loan that a lending partner offers you. If you don't agree with or don't like the terms of the loan offered by the lending partner, do not electronically sign the loan documents.”
