.get-renovation
  img.get-renovation__expert-img(src='images/expert.png' srcset='images/expert@2x.png 2x', alt="Expert")
  .get-renovation__expert
    h2.section__title.section__title--white.section__title--left-align
      | Hear what our experts have to say!

    p.get-renovation__upper-text
      | Get the latest updates and financing tidbits, so you can make informed financial decisions, without having to break the bank.

    .get-renovation__expert-user
      form.get-renovation__expert-user-form
        .get-renovation__email-input-wrapper
          input.get-renovation__email-input(name="renovation-mail",type="email", placeholder="Enter your email address")
          .get-renovation__email-input-warning
            | Enter your email address

        button.get-renovation__btn(tabindex="0", type="button")
          | Keep me Posted

  .popup
    .popup__wrapper
      button.popup__close-btn(type="button", tabindex="0")

      .popup__congrats
        .popup__congrats-title
          | Thank You!

        .popup__congrats-text
          | We’ve sent you a confirmation letter to your e-mail.

      .popup__content
        .popup__content-text
          | During this time frame, not only has more consumers been able to successfully pay down their debt, but there has also been a 8.5% decrease in personal loan delinquency rates with an 11.6% increase in credit card delinquency rates.

        .popup__btn
          | Good. Close the window
