.get-renovation
  img.get-renovation__expert-img(src='images/expert.png' srcset='images/expert@2x.png 2x')
  .get-renovation__expert
    h2.section__title.section__title--white.section__title--left-align
      | Hear what our experts have to say!

    p.get-renovation__upper-text
      | Get the latest updates and financing tidbits, so you can make informed financial decisions, without having to break the bank.

    .get-renovation__expert-user
      input.get-renovation__email-input(type="email", placeholder="Enter your email address")
      a.get-renovation__btn
        | Keep me Posted
