.get-renovation
  img.get-renovation__expert-img.get-renovation__expert-img--contractor(src='images/expert-contractor.png' srcset='images/expert-contractor@2x.png 2x', alt="Expert")
  .get-renovation__expert.get-renovation__expert--contractor
    h2.section__title.section__title--white.section__title--expert
      | “Partenirng with Enhancify was a no brainer. We were able to get up and running in a few minutes, the product is really simple for us and for customers, and best of all, Enhancify doesn’t charge a dime in dealer fees.”

    p.get-renovation__upper-text.get-renovation__upper-text--contractor
      | Cody K.
      br
      | Contractor, BCAA Roofing and Skylights

  .popup
    .popup__wrapper
      button.popup__close-btn(type="button", tabindex="0")

      .popup__congrats
        .popup__congrats-title
          | Thank You!

        .popup__congrats-text
          | We’ve sent you a confirmation letter to your e-mail.

      .popup__content
        .popup__content-text
          | During this time frame, not only has more consumers been able to successfully pay down their debt, but there has also been a 8.5% decrease in personal loan delinquency rates with an 11.6% increase in credit card delinquency rates.

        .popup__btn
          | Good. Close the window
