.header__content-top-wrapper
  .header__content-top
    button.main-nav__toggle(type='button')
    .header__main-logo
      a.header__main-link(href="/")
        | Enhancify

    .main-nav
      ul.main-nav__list
        li.main-nav__list-item
          a.main-nav__list-link.main-nav__list-link--first(href="#", tabindex="0")
            | Loans

        li.main-nav__list-item.main-nav__list-item--hovered
          span.main-nav__list-link(tabindex="0")
            | Contractors

          ul.main-nav__sub-list
            li.main-nav__sub-list-item
              a.main-nav__sub-list-link(href="")
                | Enroll Now

            li.main-nav__sub-list-item
              a.main-nav__sub-list-link(href="")
                | How It Works

            li.main-nav__sub-list-item
              a.main-nav__sub-list-link(href="")
                | Marketing Materials

            li.main-nav__sub-list-item
              a.main-nav__sub-list-link(href="")
                | Contractor's Training & Tutorials​

        li.main-nav__list-item
          a.main-nav__list-link(href="")
            | About Us

        li.main-nav__list-item
          a.main-nav__list-link(href="")
            | Contact Us

        a.main-nav__contacts-btn-get-started(href="#")
          | Get Started

    .header__contacts
      a.header__contacts-tel-link(href="tel: 1-800-900-9664")
        | 1-800-900-9664

      a.header__contacts-btn-get-started(href="#")
        | Get Started
