include ./_svg-mixins

header.header
  include ./_header-top.jade

  .header__main
    h1.header__title
      | Personal Loans up to $100,000

    p.header__under-title
      | The easier way to find a loan.

    .header__btn-wrapper
      a.header__btn
        +ic_lock_svg
        | Get Started

      picture
        source(media='(max-width: 767px)', srcset="images/wont_affect_320_2.png, images/wont_affect_320_2@2x.png 2x")
        img(src="images/wont_affect.png", srcset="images/wont_affect@2x.png 2x")

  ul.header__features
    li.header__features-item
      +ic_free_svg
      p.header__features-item-text
        | 100% Free. No Fees. No Obligation.

    li.header__features-item
      +ic_credit_affect
      p.header__features-item-text
        | Won’t Affect Your Credit

    li.header__features-item
      +ic_safe_secure
      p.header__features-item-text
        | Easy, Safe & Secure

  .header__mask
