include ./_svg-mixins

.how-it-works
  .how-it-works__wrapper
    h2.section__title
      | How it works?

    .how-it-works__list
      .how-it-works__item
        +application_svg
        h3.how-it-works__item-subtitle
          | Submit your Information

        p.how-it-works__item-text
          |  Get instantly matched to the best lenders in the marketplace at the best rates and terms, customized to you - Regardless of your credit.

      .how-it-works__item
        +information_svg
        h3.how-it-works__item-subtitle
          | Submit your Application

        p.how-it-works__item-text
          |  See what you can afford by comparing rates on personal loans from several lending  partners without affecting your credit score.

      .how-it-works__item
        +approved_svg
        h3.how-it-works__item-subtitle
          | Get Approved & Funded

        p.how-it-works__item-text
          |  Our process is easy as 1,2,3. Choose the lender, submit your application and get instant results. If you’re approved, the lender can deposit the money directly into your account.
