include ./_svg-mixins

.upper.upper--lender-page
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Partnership

      p.upper__page-text
        | Are you a lender looking for personal loan applications from consumers who are interested in taking care of their financing needs? Well, you’ve came to the right place! Partnerships fuel profits and we’d love to see how we can work together and change the way consumers compare, find and apply for financing. Complete the form below and we’ll be in touch!

    +upper_horn_svg
