.map
  .map__wrapper
    .map__contacts-container
      .map__contacts-item
        p.map__contacts-text.map__contacts-text--semibold
          | Enhancify.com

        p.map__contacts-text
          | 152 Madison Avenue, Suite 804, New York, NY 10016

      .map__contacts-item
        a.map__contacts-tel(href='tel:1-800-900-9664')
          | 1-800-900-9664

        a.map__contacts-link(href='mailto:support@enhancify.com')
          | Support@Enhancify.com

    .map__map
      #map