include ./_svg-mixins

.media
  ul.media__items
    li.media__item
      +cnbc_logo_svg

    li.media__item
      +martha_stewart_logo_svg

    li.media__item
      +today_logo_svg

    li.media__item
      +cnn_logo_svg

    li.media__item
      +msnbc_logo_svg
