include ./_svg-mixins

.offers
  .offers__items
    .offers__item
      .offers__item-number
        | 1

      .offers__item-logo
        img.offers__item-logo-img(src='images/logo/sofi.png', srcset='images/logo/sofi@2x.png 2x', alt="Sofi logotype")

      .offers__item-text-container
        p.offers__item-text-main
          | 5.37% - 14.24%

        p.offers__item-text-under
          | Estimated APR

      .offers__item-text-container
        p.offers__item-text-main
          | 3 to 7 Years

        p.offers__item-text-under
          | Available Terms

      .offers__item-text-container
        p.offers__item-text-main
          | 660

        p.offers__item-text-under
          | Min. Credit Score

      .offers__item-btn-container
        a.offers__item-btn(href='')
          +ic_lock_svg
          | Check My Rate

        p.offers__item-text-under
          | at SoFI’s secure website

    .offers__item
      .offers__item-number
        | 2

      .offers__item-logo
        img.offers__item-logo-img(src='images/logo/marcus.png', srcset='images/logo/marcus@2x.png 2x', alt="Marcus logotype")

      .offers__item-text-container
        p.offers__item-text-main
          | 6.47% - 12.24%

        p.offers__item-text-under
          | Estimated APR

      .offers__item-text-container
        p.offers__item-text-main
          | 3 to 8 Years

        p.offers__item-text-under
          | Available Terms

      .offers__item-text-container
        p.offers__item-text-main
          | 680

        p.offers__item-text-under
          | Min. Credit Score

      .offers__item-btn-container
        a.offers__item-btn(href='')
          +ic_lock_svg
          | Check My Rate

        p.offers__item-text-under
          | at SoFI’s secure website

    .offers__item
      .offers__item-number
        | 3

      .offers__item-logo
        img.offers__item-logo-img(src='images/logo/proper.png', srcset='images/logo/proper@2x.png 2x', alt="Proper logotype")

      .offers__item-text-container
        p.offers__item-text-main
          | 5.37% - 14.24%

        p.offers__item-text-under
          | Estimated APR

      .offers__item-text-container
        p.offers__item-text-main
          | 3 to 5 Years

        p.offers__item-text-under
          | Available Terms

      .offers__item-text-container
        p.offers__item-text-main
          | 660

        p.offers__item-text-under
          | Min. Credit Score

      .offers__item-btn-container
        a.offers__item-btn(href='')
          +ic_lock_svg
          | Check My Rate

        p.offers__item-text-under
          | at SoFI’s secure website

    .offers__item
      .offers__item-number
        | 4

      .offers__item-logo
        img.offers__item-logo-img(src='images/logo/upgrade.png', srcset='images/logo/upgrade@2x.png 2x', alt="Upgrade logotype")

      .offers__item-text-container
        p.offers__item-text-main
          | 5.37% - 14.24%

        p.offers__item-text-under
          | Estimated APR

      .offers__item-text-container
        p.offers__item-text-main
          | 3 to 7 Years

        p.offers__item-text-under
          | Available Terms

      .offers__item-text-container
        p.offers__item-text-main
          | 540

        p.offers__item-text-under
          | Min. Credit Score

      .offers__item-btn-container
        a.offers__item-btn(href='')
          +ic_lock_svg
          | Check My Rate

        p.offers__item-text-under
          | at SoFI’s secure website

    .offers__item
      .offers__item-number
        | 5

      .offers__item-logo
        img.offers__item-logo-img(src='images/logo/freedom_plus.png', srcset='images/logo/freedom_plus@2x.png 2x', alt="Freedom Plus logotype")

      .offers__item-text-container
        p.offers__item-text-main
          | 5.37% - 14.24%

        p.offers__item-text-under
          | Estimated APR

      .offers__item-text-container
        p.offers__item-text-main
          | 3 to 9 Years

        p.offers__item-text-under
          | Available Terms

      .offers__item-text-container
        p.offers__item-text-main
          | 450

        p.offers__item-text-under
          | Min. Credit Score

      .offers__item-btn-container
        a.offers__item-btn(href='')
          +ic_lock_svg
          | Check My Rate

        p.offers__item-text-under
          | at SoFI’s secure website
