include ./_svg-mixins

.upper.upper--offers
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Congratulations, Innocentii! You’re on your way to secure $20,000!

      p.upper__page-text
        | Find the right personal loan for you from our network of partners — the leading providers of personal loans in the market. Compare your options and request your loan today!

    +upper_svg_congrats
