include ./_svg-mixins

.partnership-features
  .partnership-features__wrapper
    h2.section__title
      | Give you customers spending power and win their business

    p.partnership-features__upper-text
      | We’re looking to partner with Contractors who need a financing option, looking to get more projects, increase their average project size or just save on dealer fees. Here’s what we offer:

    .partnership-features__items
      .partnership-features__item
        +no_fee_svg
        p.partnership-features__item-text
          | Free to Join

      .partnership-features__item
        +real_time_svg
        p.partnership-features__item-text
          | Real-time Reporting

      .partnership-features__item
        +puzzle_svg
        p.partnership-features__item-text
          | Co-Branded Landing Pages & Marketing Materials

      .partnership-features__item
        +palm_svg
        p.partnership-features__item-text
          | Generous Commissions

      .partnership-features__item
        +money_svg
        p.partnership-features__item-text
          | Monthly Commissions

      .partnership-features__item
        +specialist_svg
        p.partnership-features__item-text
          | Dedicated Account Specialist
