include ./_svg-mixins

.side.side--partnership
  .side__blocks
    .side__block
      h3.side__block-title
        | We’ve got options!

      p.side__block-upper-text
        | Increase your revenue and save on dealer fees, while helping to improve how homeowners get financing for their home improvement projects.

      .side__text-with-icon-container
        p.side__text-with-icon
          +no_fee_svg
          | No Merchant Fees!

        p.side__text-with-icon
          +scores_svg
          | Credit Scores as Low as 550*

        p.side__text-with-icon
          +gold_svg
          | Loan Requests up to $100,000*

        p.side__text-with-icon
          +rates_svg
          | Rates as Low as 5.99%*

        p.side__text-with-icon
          +tablet_svg
          | No Equity or Appraisal Required

        p.side__text-with-icon
          +cup_svg
          | Financing for Any Project

        p.side__block__under-text
          | *Rates and terms may vary by lender.

    .side__block
      h3.side__block-title
        | Need Help?

      p.side__text.side__text--thin
        | We are ready to help you with any request at 
        a.side__text-link(href='mailto:Support@Enhancify.com')
          | Support@Enhancify.com
