include ./_svg-mixins

.upper.upper--partnership
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Contractor Financing

      p.upper__page-text
        | Give your customers more ways to pay without any dealers fees. The right partnerships fuel profits, so let’s build our businesses together.

    +upper_svg_partnership
