include ./_svg-mixins

.personal-loan
  .personal-loan__wrapper
    h2.section__title
      | A Personal loan for all of life’s surprises

    p.personal-loan__upper-text
      | An unsecured personal loan, often called a signature loan, can be used for just about anything from consolidating your debt to renovating your home and even to take a much needed vacation. No matter what life may bring, whether expected or the unexpected, a personal loan can help you handle any situation.

    ul.personal-loan__list
      li.personal-loan__list-item
        +debt_consolidation_svg
        span.personal-loan__list-link-text
          | Debt Consolidation

      li.personal-loan__list-item
        +refinancing_svg
        span.personal-loan__list-link-text
          | Credit Card Refinancing

      li.personal-loan__list-item
        +home_improvement_svg
        span.personal-loan__list-link-text
          | Home Improvement

      li.personal-loan__list-item
        +moving_expenses_svg
        span.personal-loan__list-link-text
          | Moving Expenses

      li.personal-loan__list-item
        +other_purchase_svg
        span.personal-loan__list-link-text
          | Other Major Purchase

      li.personal-loan__list-item
        +vacation_svg
        span.personal-loan__list-link-text
          | Vacation

      li.personal-loan__list-item
        +special_occasion_svg
        span.personal-loan__list-link-text
          | Special Occasion

      li.personal-loan__list-item
        +baby_adoption_svg
        span.personal-loan__list-link-text
          | Baby & Adoption
