.popup
  .popup__wrapper
    button.popup__close-btn(type="button", tabindex="0")

    .popup__congrats
      .popup__congrats-title
        | Congratulation!

      .popup__congrats-text
        | Yeah! Your fill up form was successfully uploaded

    .popup__content
      .popup__content-text
        | During this time frame, not only has more consumers been able to successfully pay down their debt, but there has also been a 8.5% decrease in personal loan delinquency rates with an 11.6% increase in credit card delinquency rates.

      .popup__btn
        | Good. Close the window
