include ./_svg-mixins

.privileges
  h3.privileges__title
    | Haven’t joined yet?

  .privileges__items
    .privileges__item
      +cash_svg
      p.privileges__item-text
        | Loan Amounts up to $100,000

    .privileges__item
      +rates_svg
      p.privileges__item-text
        | Rates as low as 5.49%

    .privileges__item
      +solutions_svg
      p.privileges__item-text
        | Solutions for all credit situations

    .privileges__item
      +pen_n_blank_svg
      p.privileges__item-text
        | No Equity or appraisal required

    .privileges__item
      +target_svg
      p.privileges__item-text
        | Options for any project

    .privileges__item
      +no_fee_svg
      p.privileges__item-text
        | We are 100% Free Service. No Fees!

  a.privileges__button(href='')
    | Learn more about our Contractor Program