.refer-earn-info
  .refer-earn-info__wrapper
    .refer-earn-info__content
      .refer-earn-info__content-item
        p.refer-earn-info__content-text
          | Recommend Enhancify to your friends and family and receive a 
          span.semibold $25 Amazon Gift Card
          |  for anyone who is funded for a loan with one of our participating lenders.


        .refer-earn-info__inner-wrapper
          img.refer-earn-info__card-img(src="images/amazon_card.png", srcset="images/amazon_card@2x.png 2x")
          p.refer-earn-info__content-text.refer-earn-info__content-text--italic
            | Redeemable towards millions of items store-wide at Amazon.com or certain affiliated websites.

      .refer-earn-info__content-item
        p.refer-earn-info__content-text.refer-earn-info__content-text--highlighted
          | Enter your email address and get your unique referral link:

        form.refer-earn-info__form

          .refer-earn-info__form-input-wrapper
            input.refer-earn-info__form-input(type="email", name="email" placeholder="Enter email address")
            .refer-earn-info__form-input-warning
              | Enter your email

          button.refer-earn-info__form-submit-btn(type="submit")
            | Get Your Link & Start Earning Today!
