include ./_svg-mixins

.upper.upper--refer-earn
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Refer & Earn

      p.upper__page-text
        | No one can spread the word about Enhancify better than our customers!

    +upper_refer_svg
