include ./_svg-mixins

.how-it-works.how-it-works--refer-earn
  .how-it-works__wrapper.how-it-works__wrapper--refer-earn
    h2.section__title
      | How it works?

    .how-it-works__list
      .how-it-works__item
        +spreed_svg
        h3.how-it-works__item-subtitle
          | Spread the word

        p.how-it-works__item-text
          |  When you hear anyone who needs a loan, whether to consolidate debt, do home improvements, lower their interest rates, go on a vacation or for any other reason. Just tell them about Enhancify and give them your unique referral link.

      .how-it-works__item
        +coins_svg
        h3.how-it-works__item-subtitle
          | It’s a Win-Win situation

        p.how-it-works__item-text
          |  Each time someone uses your link and is funded for a loan with one of our participating lenders, you will receive a $25 Amazon Gift Card – it’s really that simple! Not only do you win, but they do too!

      .how-it-works__item
        +unlimited_svg
        h3.how-it-works__item-subtitle
          | The sky's the limit

        p.how-it-works__item-text
          | There is no cap on the number of referrals you can send or the number of Amazon Gift Cards you can earn! So, just keep spreading the word and helping those around you.
