include ./_svg-mixins

.upper.upper--subscription
  .upper__wrapper
    .upper__text
      h1.upper__page-title
        | Subscription Preferences

      p.upper__page-text
        | We want to stay in touch, but only in ways you would like us to!

    +upper_subscription_svg
