include ./_svg-mixins

.testimonials
  .testimonials__wrapper
    h2.section__title.section__title--white
      | What Our Customers Say

    .testimonials__list-wrapper
      button.testimonials__list-controls.testimonials__list-controls--left.testimonials__list-controls--inactive(type='button')
        +controls_arrow_svg

      button.testimonials__list-controls.testimonials__list-controls--right(type='button')
        +controls_arrow_svg

      ul.testimonials__slides-list-wrapper
        ul.testimonials__slides-list
          li.testimonials__list-item
            img.testimonials__list-item-img(src='images/author_1.png' srcset='images/author_1@2x.png 2x' height='64' width='64')
            h3.testimonials__list-item-title
              | Couldn’t ask for a better experience

            p.testimonials__list-item-text
              | I would highly recommend using Enhancify for a home improvement loan. The process was really quite easy and super fast. I received word of my loan being approved almost immediately and the interest rate was very extremely reasonable for my credit. I spoke with a very polite loan officer to verify some information and my loan was completed within a week. Very professional operation plus the website is fabulous!

            p.testimonials__list-item-author
              | D. Samson

          li.testimonials__list-item
            img.testimonials__list-item-img(src='images/author_1.png' srcset='images/author_1@2x.png 2x' height='64' width='64')
            h3.testimonials__list-item-title
              | Couldn’t ask for a better experience

            p.testimonials__list-item-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum22222

            p.testimonials__list-item-author
              | D. Samson

          li.testimonials__list-item
            img.testimonials__list-item-img(src='images/author_1.png' srcset='images/author_1@2x.png 2x' height='64' width='64')
            h3.testimonials__list-item-title
              | Couldn’t ask for a better experience

            p.testimonials__list-item-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum3333

            p.testimonials__list-item-author
              | D. Samson

    .testimonials__pointers
      .testimonials__pointers-item(data-id='0')
      .testimonials__pointers-item(data-id='1')
      .testimonials__pointers-item(data-id='2')
