.upper-info
  .upper-info__wrapper
    .upper-info__content
      .upper-info__content-item
        p.upper-info__content-text
          | In 2018, roughly 
          span.semibold 83.5 million 
          | people will have taken out a personal loan. According to TransUnion, the outstanding balances for personal loans in Q2 of 2017 was around $107 billion, representing an increase of 10.8% during the same time period in 2016 and a 132% increase from where it was in 2012.

        p.upper-info__content-text
          | During this time frame, not only has more consumers been able to successfully pay down their debt, but there has also been a 8.5% decrease in personal loan delinquency rates with an 11.6% increase in credit card delinquency rates.

      .upper-info__content-item
        p.upper-info__content-text
          | More than 
          span.semibold 16 million 
          | consumers currently have a personal loan and the market for unsecured personal loans continues to grow as more and more banks, online lenders and even credit unions continue to enter into the marketplace.

        p.upper-info__content-text.upper-info__content-text--custom.upper-info__content-text--custom-green
          | Say hello to 
          a(href='') Enhancify.com
          | , where we’ve set out to simplify the process on how you can search, compare and apply for a loan. We want you to have the best chance of getting the money you need – at the best rates and terms available to you.
