.get-renovation
  position: relative
  padding: 80px 0
  background-image: linear-gradient(90deg, #295aa3 0%, #1c418c 100%), radial-gradient(48% 50%, #2390f6 52%, #1386f2 100%)

  height: 344px
  box-sizing: border-box

  +respond-to($small)
    height: 294px
    padding: 48px 0 46px 0

  +respond-to($xsmall)
    height: auto
    display: flex
    flex-direction: column
    padding: 32px 0 300px 0
    box-sizing: border-box
    overflow: hidden
    background-image: linear-gradient(10deg, #295aa3 0%, #1c418c 100%), radial-gradient(48% 50%, #2390f6 52%, #1386f2 100%)

  +respond-to(467px)
    padding: 32px 0 280px 0

.get-renovation__expert
  @extend .container
  position: relative
  padding-left: 400px
  box-sizing: border-box

  +respond-to($medium)
    padding-left: 360px

  +respond-to($small)
    padding-left: 300px

  +respond-to($xsmall)
    padding-left: 0
    display: flex
    flex-direction: column

.get-renovation__expert-user-form
  display: flex
  justify-content space-between
  align-items center
  +respond-to($xsmall)
    flex-direction: column

.get-renovation__upper-text
  @extend .main-text
  color: #ffffff
  margin-top: 8px
  margin-bottom: 24px

  +respond-to($xsmall)
    margin: 16px 0

.get-renovation__expert-img
  position: absolute
  bottom: 0
  left: 0
  width: 606px
  height: auto

  +respond-from($large)
    left: calc((100% - 1600px)/2);

  +respond-to($medium)
    width: 596px
    left: -70px

  +respond-to($small)
    width: 480px

  +respond-to($xsmall)
    width: 396px
    left: 50%
    bottom: 0
    transform: translate(-50%)

.get-renovation__email-input-wrapper
  width: calc(71% - 24px)
  position relative
  display flex
  flex-direction column
  align-items center
  +respond-from($large)
    width calc(77% - 44px)

  +respond-to($medium)
    width: calc(68% - 24px)

  +respond-to($small)
    width: calc(60% - 24px)

  +respond-to($xsmall)
    width: 100%
    margin-bottom: 24px

.get-renovation__email-input
  width 100%
  height 56px
  background: #ffffff
  border-radius: 3px
  padding: 15px 20px
  box-sizing: border-box
  border: none
  outline: none
  @extend .main-text
  color: #8fa7b3
  line-height: 24px
  border: 1px solid transparent

  &:focus
    border: 1px solid #a8d5ff

  &:placeholder
    color: #8fa7b3

  +respond-to($small)
    font-size: 14px
    line-height: 24px

.get-renovation__email-input-warning
  @extend .input-warning-message

.get-renovation__email-input--invalid
  border: 1px solid #de4b4b
  margin-bottom: 0
  &:focus
    border: 1px solid #de4b4b

  & + .get-renovation__email-input-warning
    display: inline-block


.get-renovation__btn
  @extend .main-text
  line-height: 24px
  display: inline-block
  color: #ffffff
  border: 1px solid rgba(255,242,242, .5)
  padding: 15px 48px
  border-radius: 3px
  transition: .25s
  cursor: pointer
  height 56px
  box-sizing border-box
  &:hover
    background: #ffffff
    color: #1C428B
    border: 1px solid transparent

  +respond-to($medium)
    padding: 15px 32px

  +respond-to($small)
    font-size: 14px
    line-height: 24px

  +respond-to($xsmall)
    width 100%
    font-size: 14px
    line-height: 24px
    text-align: center
