body
  font-family: 'Fira Sans', sans-serif
  $ultraThin()

ul, li
  list-style: none

.container
  width: 1140px
  margin: 0 auto
  box-sizing: border-box

  +respond-from($large)
    width: 1360px

  +respond-to($medium)
    width: 936px

  +respond-to($small)
    width: 720px

  +respond-to($xsmall)
    width: calc(100% - 32px)

