.personal-loan
  padding-top: 60px
  padding-bottom: 85px

  +respond-to($medium)
    padding-bottom: 45px
    padding-top: 64px

  +respond-to($small)
    padding-bottom 72px

  +respond-to($xsmall)
    padding-bottom: 8px
    padding-top: 32px

.personal-loan__list-link-icon
  width: 64px
  height: 64px
  will-change transform

.personal-loan__list-link:hover
  background-color: F5FCF5

.personal-loan__list-link:active
  background-color: F5FCF5
  transform: scale(0.95)

.personal-loan__wrapper
  @extend .container

.personal-loan__upper-text
  @extend .main-text
  color #525f66
  margin-top: 24px
  text-align: center

  +respond-from($xsmall)
    margin-top: 16px

.personal-loan__list
  display: flex
  flex-wrap: wrap
  margin-top: 48px

  +respond-to($small)
    margin-top 32px

  +respond-to($xsmall)
    width: 440px
    margin-left: auto
    margin-right: auto
    margin-top 24px

  +respond-to(490px)
    width: 290px

  +respond-to($xxsmall)
    width: 100%

.personal-loan__list-item
  display: flex
  width: 264px
  height: 178px
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 32px 24px
  border: 1px solid #E9EDF0
  border-radius: 3px
  transition: .25s
  box-sizing: border-box
  margin-right: 28px
  margin-bottom: 32px

  +respond-from($large)
    width 318px

  +respond-from($small)
    &:nth-child(4n)
      margin-right: 0

  +respond-to($medium)
    width: 222px
    margin-right: 16px

  +respond-to($small)
    width: 164px
    padding 24px 16px

  +respond-range(490px, $xsmall)
    margin-bottom: 16px
    width: 136px
    &:nth-child(3n)
      margin-right: 0

  +respond-to(490px)
    margin-bottom: 16px
    width: 136px
    &:nth-child(2n)
      margin-right: 0

.personal-loan__list-link-icon
  width: 64px
  height: 64px
  margin-bottom: 24px
  flex-shrink 0

.personal-loan__list-link-text
  width 100%
  font-size: 16px
  color: #525F66
  text-align: center
  line-height: 24px
  font-weight: 500
