.refer-earn-info
  background: #f5fAfc

.refer-earn-info__wrapper
  @extend .container
  padding-bottom: 60px
  box-sizing: border-box
  +respond-to($medium)
    padding-bottom: 64px

  +respond-to($small)
    padding-bottom: 48px

  +respond-to($xsmall)
    padding-bottom: 32px

.refer-earn-info__content
  display: flex
  border-radius 6px
  +respond-to($xsmall)
    flex-direction column

.refer-earn-info__inner-wrapper
  display flex
  align-items flex-start
  margin-top 24px

  +respond-to($xsmall)
    flex-direction column
    align-items center

  .refer-earn-info__content-text
    flex-grow 0
    flex-shrink 1

.refer-earn-info__card-img
  margin-right 24px
  flex-shrink 0

  +respond-to($xsmall)
    margin-right 0
    margin-bottom 24px

.refer-earn-info__content-item
  width: 50%
  box-shadow: 0 18px 32px 0 rgba(156,173,173,0.20)
  padding: 48px
  position relative
  margin-top: -64px
  background: #fff
  box-sizing: border-box

  +respond-to($medium)
    margin-top: -66px

  +respond-to($small)
    padding: 24px

  +respond-to($xsmall)
    width: 100%
    padding: 16px
    margin-top: -58px
    &:not(:first-child)
      margin-top: 0

  &:first-child
    border-radius: 6px 0 0 6px

    +respond-to($xsmall)
      border-radius: 6px 6px 0 0

  &:nth-child(2)
    border-radius: 0 6px 6px 0

    +respond-to($small)
      display flex
      flex-direction column
      align-items cetner
      justify-content center

    +respond-to($xsmall)
      border-radius: 0 0 6px 6px
      box-shadow: 0 -8px 32px 0 rgba(156,173,173,0.20)

.refer-earn-info__content-text
  font-weight 400
  font-size: 18px
  color: #525F66
  line-height: 32px

  +respond-to($xsmall)
    font-size 16px
    line-height 28px

.refer-earn-info__content-text--italic
  font-weight 300
  font-style italic
  font-size: 16px
  color: #8fa7b3
  line-height: 24px

.refer-earn-info__content-text--highlighted
  font-weight 500
  font-size: 18px
  color: #525F66
  line-height: 32px
  margin-bottom 16px

.refer-earn-info__form-input
  width 100%
  height 48px
  position: relative
  padding: 11px 16px 11px 16px
  font-size: 14px
  font-weight: 400
  line-height: 24px
  color: #293033
  border: 1px solid #dde4e8
  border-radius: 3px
  box-sizing: border-box
  &:focus
    border: 1px solid #a8d5ff

  &:placeholder
    color: #d2dbe0

.refer-earn-info__form-input-warning
  @extend .input-warning-message

.refer-earn-info__form-input--invalid
  border: 1px solid #de4b4b
  margin-bottom: 0
  &:focus
    border: 1px solid #de4b4b

  & + .refer-earn-info__form-input-warning
    display: inline-block

.refer-earn-info__form-input-wrapper
  position relative
  margin-bottom 30px

.refer-earn-info__form-submit-btn
  @extend .btn-with-lock
  padding 16px
  width 100%
  text-align center
  font-size 14px
  line-height 24px
