.section__title
  font-size: 30px
  line-height: 40px
  font-weight: 700
  color: #293033
  text-align: center

  +respond-to($small)
    font-size 26px
    line-height 32px

.section__title--white
  color: #ffffff

.section__title--left-align
  text-align: left
