doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Roboto:900" rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,600,700', rel='stylesheet')
    link(inline='', rel='stylesheet', type='text/css', href='contractor-partnership.index.min.css')
    title Enhancify Contractor Partnership

  body
    .header__content.header__content--short
      include ./partials/_header-top.jade

    .section
      include ./partials/_partnership-upper.jade

    .section.section--main
      .section__main-wrapper.section__main-wrapper--partnership
        include ./partials/_partnership-form.jade
        include ./partials/_partnership-side.jade

    .section
      include ./partials/_partnership-features.jade

    .section
      include ./partials/_partnership-join.jade

    .section
      include ./partials/_get-renovation.jade

    .section
      include ./partials/_best-option.jade

    footer
      include ./partials/_footer.jade

    script(type='text/javascript', src='js/script.min.js')
