doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(href="https://fonts.googleapis.com/css?family=Roboto:900" rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,600,700', rel='stylesheet')
    link(inline='', rel='stylesheet', type='text/css', href='fillup.index.min.css')
    title Enhancify Fillup Page

  body
    header.header.header--short
      include ./partials/_header-top.jade

    .section
      include ./partials/_fillup-upper.jade

    .section.section--main
      .section__main-wrapper
        include ./partials/_fillup-form.jade
        include ./partials/_fillup-side.jade

    .section
      include ./partials/_get-renovation.jade

    include ./partials/_footer.jade

    script(type='text/javascript', src='js/script.min.js')
