doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Roboto:900" rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,600,700', rel='stylesheet')
    link(inline='', rel='stylesheet', type='text/css', href='subscription-preferences.index.min.css')
    title Enhancify Subscription & Preferences

  body
    .header__content.header__content--short
      include ./partials/_header-top.jade

    .section
      include ./partials/_subscription-preferences-upper.jade

    .section
      include ./partials/_subscription-preferences.jade

    footer
      include ./partials/_footer.jade


    script(type='text/javascript', src='js/script.min.js')
